<?xml version="1.0" encoding="UTF-8"?>
<SimulationContainer SimulationContainerName="ResSim-F2018" Description="" AnalysisPeriod="2018" Alternative="ResSim" ProgramOrder="ResSim Only" WarmupTimeSteps="0" SimulationCount="1">
  <Simulation0 SimulationName="ResSim-F2018" />
</SimulationContainer>

