<?xml version="1.0" encoding="UTF-8"?>
<SimulationContainer SimulationContainerName="Whiskey-ClearCr_16-19-WHICal" Description="" AnalysisPeriod="2016-2019" Alternative="ResSim-Element-Cal" ProgramOrder="ResSim_WhisCC" WarmupTimeSteps="0" SimulationCount="1">
  <Simulation0 SimulationName="Whiskey-ClearCr_16-19-WHICal" />
</SimulationContainer>

