Met Station Location, Met parameter, Source DSS file, Source DSS record, Number of Destinations, Destination DSS file, Destination DSS record
Redding Airport, Air Temperature, shared\USBR_derived.dss, /USBR/REDDING_KRDD/TEMP-AIR/*/1Hour/USBR_DERIVED_SHASTA/, 1, shared\USBR_derived.dss, /USBR/REDDING_KRDD/TEMP-AIR/*/1Hour/USBR_DERIVED_SHASTA/
Redding Airport, Humidity, shared\USBR_inputs.dss, /USBR/REDDING_KRDD/RELHUM/*/1HOUR/USBR_DERIVED/, 1, shared\USBR_inputs.dss, /USBR/REDDING_KRDD/RELHUM/*/1HOUR/USBR_DERIVED/
Redding Airport, Shortwave Radiation, shared\USBR_inputs.dss, /USBR/REDDING_RRAC1/SRO/*/1HOUR/USBR_BLESSED/, 1, shared\USBR_inputs.dss, /USBR/REDDING_RRAC1/SRO/*/1HOUR/USBR_BLESSED/
Redding Airport, Cloudiness, shared\USBR_inputs.dss, /USBR/REDDING_KRDD/CLOUD-FRACTION_0-1/*/1HOUR/USBR_BLESSED/, 1, shared\USBR_inputs.dss, /USBR/REDDING_KRDD/CLOUD-FRACTION_0-1/*/1HOUR/USBR_BLESSED/
Redding Airport, Wind Speed, shared\USBR_inputs.dss, /USBR/REDDING_KRDD/SPEED-WIND/*/1HOUR/USBR_BLESSED/, 1, shared\USBR_inputs.dss, /USBR/REDDING_KRDD/SPEED-WIND/*/1HOUR/USBR_BLESSED/
