Target Temperature Location, Parameter, Source DSS file, Source DSS record, Number of Destinations, Destination DSS file, Destination DSS record
Shasta,Water Temperature,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000001|TIER 1/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000002|TIER 1/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000003|TIER 1/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000004|TIER 1/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000005|TIER 1/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000006|TIER 1/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000007|TIER 1/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000008|TIER 1/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000009|TIER 1/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000010|TIER 1/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000011|TIER 1/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000001|TIER 2/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000002|TIER 2/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000003|TIER 2/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000004|TIER 2/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000005|TIER 2/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000006|TIER 2/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000007|TIER 2/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000008|TIER 2/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000009|TIER 2/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000010|TIER 2/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000011|TIER 2/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000001|TIER 3/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000002|TIER 3/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000003|TIER 3/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000004|TIER 3/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000005|TIER 3/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000006|TIER 3/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000007|TIER 3/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000008|TIER 3/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000009|TIER 3/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000010|TIER 3/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000011|TIER 3/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000001|TIER 4/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000002|TIER 4/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000003|TIER 4/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000004|TIER 4/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000005|TIER 4/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000006|TIER 4/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000007|TIER 4/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000008|TIER 4/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000009|TIER 4/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000010|TIER 4/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000011|TIER 4/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000001|TIER 5/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000002|TIER 5/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000003|TIER 5/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000004|TIER 5/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000005|TIER 5/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000006|TIER 5/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000007|TIER 5/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000008|TIER 5/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000009|TIER 5/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000010|TIER 5/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000011|TIER 5/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000001|TIER 6/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000002|TIER 6/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000003|TIER 6/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000004|TIER 6/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000005|TIER 6/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000006|TIER 6/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000007|TIER 6/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000008|TIER 6/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000009|TIER 6/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000010|TIER 6/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000011|TIER 6/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000001|TIER 7/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000002|TIER 7/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000003|TIER 7/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000004|TIER 7/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000005|TIER 7/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000006|TIER 7/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000007|TIER 7/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000008|TIER 7/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000009|TIER 7/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000010|TIER 7/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000011|TIER 7/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000001|TIER 8/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000002|TIER 8/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000003|TIER 8/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000004|TIER 8/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000005|TIER 8/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000006|TIER 8/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000007|TIER 8/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000008|TIER 8/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000009|TIER 8/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000010|TIER 8/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//SHASTA/TEMP-WATER-TARGET//1HOUR/C:000011|TIER 8/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//USER TARGET/TEMP-WATER-TARGET//1HOUR/C:000001|USER-DEFINED/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//USER TARGET/TEMP-WATER-TARGET//1HOUR/C:000002|USER-DEFINED/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//USER TARGET/TEMP-WATER-TARGET//1HOUR/C:000003|USER-DEFINED/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//USER TARGET/TEMP-WATER-TARGET//1HOUR/C:000004|USER-DEFINED/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//USER TARGET/TEMP-WATER-TARGET//1HOUR/C:000005|USER-DEFINED/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//USER TARGET/TEMP-WATER-TARGET//1HOUR/C:000006|USER-DEFINED/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//USER TARGET/TEMP-WATER-TARGET//1HOUR/C:000007|USER-DEFINED/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//USER TARGET/TEMP-WATER-TARGET//1HOUR/C:000008|USER-DEFINED/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//USER TARGET/TEMP-WATER-TARGET//1HOUR/C:000009|USER-DEFINED/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//USER TARGET/TEMP-WATER-TARGET//1HOUR/C:000010|USER-DEFINED/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//USER TARGET/TEMP-WATER-TARGET//1HOUR/C:000011|USER-DEFINED/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/
Shasta,Water Temperature,shared\USBR_inputs.dss,//USER TARGET/TEMP-WATER-TARGET//1HOUR/C:000012|USER-DEFINED/,1,shared\USBR_inputs.dss,/USBR/SHASTA/TEMP-WATER-TARGET//1HOUR/USBR_BLESSED/

